useDynLib("hillmakeR")
import(plyr)
export(processdata)
export(print.processdata)
export(timeStampPattern)
export(timeStampPattern.processdata)
export(occupancyPattern)
export(occupancyPattern.processdata)
export(occupancyPatternFunc.processdata)
export(aggregate.hillmakeRpattern)
export(plot.hillmakeRpatternStats)